# Site settings
title: sergio.am
description: >- # site description
  Notas y apuntes de cosas con las que suelo perder el tiempo, para mi yo del futuro.
lang: es-ES
timezone: Europe/Madrid
image: assets/img/sergio.png # This image used for Open Graph more info https://ogp.me/
mode: dark # default theme "dark" | "light"

# Profile settings
author:
  name: Sergio Ãlvarez
  bio: >- # tell to the world
    Notas y apuntes para mi yo del futuro.
  username: sergioam # general username
  github: xergio # github username
  twitter: xergio # twitter username
  email: correo@sergio.am # email adress
  avatar: /assets/img/sergio100w.jpg # change with your own avatar

# URL settings
url: "https://sergio.am" #
baseurl:
permalink: /read/:title/
google_analytics: # leave it blank if not wish
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Homepage limit posts
number_of_posts: 5000

# Build settings
# theme: klise
sass:
  style: compressed

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - lighthouse.png
  - klise-*.gem
  - klise.gemspec
  - vendor

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
